@inject Session Session

@page "/"

<content class="centered">
  <div class="control-bar">
    <button @onclick="CalculateState">Refresh</button>
    <button @onclick="CleanState">Clean</button>
    <button @onclick="() => Sudoku.SetRandomValues()">Random</button>
    <button @onclick="Sudoku.Clear">Clear</button>

    @if (Session.Settings.WrapMovement)
    {
      <button @onclick="() => Session.Settings.WrapMovement = false">Disable Wrap</button>
    }
    else
    {
      <button @onclick="() => Session.Settings.WrapMovement = true">Enable Wrap</button>
    }

    @if (Session.Settings.DebugShowCellCoords)
    {
      <button @onclick="() => Session.Settings.DebugShowCellCoords = false">Disable Debug Coords</button>
    }
    else
    {
      <button @onclick="() => Session.Settings.DebugShowCellCoords = true">Enable Debug Coords</button>
    }

    @if (Session.Settings.InputMode == InputMode.Value)
    {
      <button @onclick="() => Session.Settings.InputMode = InputMode.Option">Mode: Set Cell Value</button>
    }
    else if (Session.Settings.InputMode == InputMode.Option)
    {
      <button @onclick="() => Session.Settings.InputMode = InputMode.Value">Mode: Toggle Cell Option</button>
    }

    <ThemePicker />
  </div>

  <div class="row">
    <CascadingValue Value="@Sudoku">
      <CascadingValue Value="@SelectedCell">
        <div class="grid sudoku">
          @for (int blockRow = 0; blockRow < Sudoku.Width; blockRow += Sudoku.BlockWidth)
          {
            <div class="row">
              @for (int blockCol = 0; blockCol < Sudoku.Width; blockCol += Sudoku.BlockWidth)
              {
                int2 blockCoords = (blockRow, blockCol);
                int blockIndex = Sudoku.IndexOf(blockCoords);
              
                <div class="grid block">
                  @for (int row = 0; row < Sudoku.BlockWidth; row++)
                  {
                    <div class="row">
                      @for (int col = 0; col < Sudoku.BlockWidth; col++)
                      {
                        Sudoku.TryGetCell((row, col) + blockCoords, out Cell? cell);
                        <CellView Cell="cell"
                                  @onclick="() => CellClicked(cell)"
                                  @onkeydown="OnKeyDown" />
                      }
                    </div>
                  }
                </div>
              }
            </div>
          }
        </div>
      </CascadingValue>
    </CascadingValue>

    <div class="number-buttons">
      @for (int i = 0; i < Sudoku.Width; i++)
      {
        int value = i + 1;
        <button class="number-btn" @onclick="@(() => ValueClicked(value))">
          @value
        </button>
      }
      <button class="number-btn" @onclick="@(() => ValueClicked(null))">
        ✕
      </button>
    </div>
  </div>
</content>